body {
  margin: : 0px;
}

h1{
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
  word-spacing: 3px;
  font-family: 'courier';
}

canvas { display: block; }

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#59332e, #000000);
}
